{% extends "CEGApplicationBundle::baseLayout.html.twig" %}
{% block body %}
<div class="container">
  <div class="section">
<div class="row">
  <div class="col s12 center">
    <h3 classe="header">Votre fichier a bien été enregistré.</h3>
  </div>
</div>
<hr class="light">
<div class="row">
  <div class="col s12">
<a href="{{ path('ceg_article_list',{'page':1,'type':'tous'})}}" class="btn blue left">Index Article</a>
<a href="{{ path('ceg_article_update',{'id':id})}}" class="btn orange right">Continuer</a>
  </div>
</div>
</div>
</div>
{% endblock body %}
