{% extends "CEGApplicationBundle::baseLayout.html.twig" %}
{% block content %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h3 classe="bg-sucess">Votre fichier a bien été enregistré.</h3>
  </div>
</div>
<hr class="light">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
<a href="{{ path('ceg_article_index')}}" class="btn btn-default pull-left">Index Article</a>
<a href="{{ path('ceg_article_update',{'id':id})}}" class="btn btn-warning pull-right">Continuer</a>
  </div>
</div>
{% endblock content %}
