{% extends "CEGApplicationBundle::baseLayout.html.twig" %}
{% block body %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-accent-2">Cercle d'Escrime du Pays de Grasse</h1>
        <div class="row center">
          <h5 class="header col s12 light">Bienvenue sur le site du CEPG.</h5>
        </div>
        <div class="row center">
          <h5 class="header col s12 red">PERMANENCES DES INSCRIPTIONS POUR LA SAISON 2016-2017</h5>
          <h5 class="header col s12 red">DU LUNDI 22 AOUT AU VENDREDI 9 SEPTEMBRE A LA SALLE D'ARMES</h5>
          <h5 class="header col s12 red">DU LUNDI AU VENDREDI DE 17h00 A 19h00</h5>
        </div>

        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{{web_path}}/bundles/cegapplication/img/backFencing.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <a href="{{path('ceg_article_list',{page:'1',type:'tous'})}}">
            <h2 class="center blue-text"><i class="material-icons">library_books</i></h2>
            <h5 class="center">Actualités</h5>
            </a>

            <p class="light">Suivez au fil du temps les résultats,les articles, et la vie du club.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <a href="{{ path('ceg_application_club') }}">
            <h2 class="center blue-text"><i class="material-icons">store</i></h2>
            <h5 class="center">Club</h5>
            </a>

            <p class="light">Trouvez tous les renseignements, le calendrier, les classements, nos horaires.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">language</i></h2>
            <h5 class="center">Liens</h5>

            <p class="light">Accédez aux sites des institutions et référents de l'escrime.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">stars</i></h2>
            <h5 class="center">Sponsors</h5>

            <p class="light">Découvrez les partenaires qui nous soutiennent!</p>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="containe">
        <div class="row center">
          <h5 class="header col s12 light">Tout le secret des armes ne consiste qu'en deux choses : à donner et à ne pas recevoir.    - Molière -</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{{web_path}}/bundles/cegapplication/img/fencingHeader.jpg" alt="Unsplashed background img 2"></div>
  </div>


<div class="blue">
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send white-text"></i></h3>
          <h4><p class="white-text">Nous rencontrer</p></h4>
          <p class="left-align light white-text">Le Cercle d'Escrime Pays de Grasse existe depuis 1970. Une convention est signée entre la Communauté d'agglomeration Pays de Grasse et cette association lois 1901, présidée par Monsieur Jérôme Jeandeau. Nous enseignons le fleuret et l'épée dans deux salles. Ce site vous permettra de trouver des réponses à vos questions</p>
        </div>
      </div>

    </div>
  </div>

</div>


  {% endblock body %}
